.mainFxmlClass {
    -fx-background-color: #f5f7fa; 
}

.left-form {
    -fx-background-color: linear-gradient(to bottom right, #000080, #ADD8E6);
    -fx-border-color: #000;
    -fx-border-width: .2px 0px .2px .2px;
    -fx-padding: 20;
}

.button {
    -fx-background-radius: 10;
    -fx-background-color: linear-gradient(to right, #6a11cb, #2575fc);
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 4, 0, 2, 2);
}

.button:hover {
    -fx-background-color: linear-gradient(to right, #2575fc, #6a11cb);
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}

.button:pressed {
    -fx-background-color: #1e1e1e;
    -fx-scale-x: 0.97;
    -fx-scale-y: 0.97;
}

#btnLogout {
    -fx-background-color: linear-gradient(to right, #ff416c, #ff4b2b);
}

#btnLogout:hover {
    -fx-background-color: linear-gradient(to right, #ff4b2b, #ff416c);
}

.card {
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: #d1d1d1;
    -fx-border-width: 1px;
    -fx-padding: 18;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.15), 10, 0, 3, 3);
}

.card:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.30), 12, 0, 3, 5);
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}

.detail-button {
    -fx-background-color: linear-gradient(to right, #00c6ff, #0072ff);
    -fx-background-radius: 12;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.detail-button:hover {
    -fx-background-color: linear-gradient(to right, #0072ff, #00c6ff);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

/* ===================================================================
   TEXT AREA
   =================================================================== */

.title-text {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-fill: #333;
}

.welcome-text {
    -fx-fill: #000;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.admin-name {
    -fx-text-fill: #693fe8;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}
