.mainFxmlClass {
    -fx-background-color: #f5f6fa;
}

/* ===== SIDEBAR ===== */
.sidebar {
    -fx-background-color: linear-gradient(to bottom, #0f1b8d, #98c7df);
    -fx-padding: 20;
    -fx-spacing: 12;
}

.sidebar-title {
    -fx-text-fill: white;
    -fx-font-size: 16px;      /* sebelum lebih besar */
    -fx-font-weight: bold;
    -fx-padding: 0 0 15 0;
}

.menu-btn {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-font-size: 12px;     /* DIPERKECIL */
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 8 10;
    -fx-cursor: hand;
}

.menu-btn:hover {
    -fx-background-color: rgba(255,255,255,0.25);
}

.active-btn {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-background-radius: 6;
}

/* ===== CARD ===== */
.card-blue {
    -fx-background-color: linear-gradient(to bottom right, #3b82f6, #38bdf8);
    -fx-background-radius: 25;
    -fx-padding: 15;
}

.card-purple {
    -fx-background-color: linear-gradient(to bottom right, #9333ea, #f97316);
    -fx-background-radius: 25;
    -fx-padding: 15;
}

.card-title {
    -fx-text-fill: white;
    -fx-font-size: 13px;      /* DIPERKECIL */
    -fx-font-weight: bold;
}

.card-value {
    -fx-text-fill: white;
    -fx-font-size: 28px;      /* Sebelum 40+ */
    -fx-font-weight: bold;
}

/* ===== PANEL BAWAH ===== */
.bottom-panel {
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 10, 0, 0, 6);
}
